@media (max-width: 480px) {
    body {
        background-color: rgb(2, 49, 49);
    }

    .body-wrapper>p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: lightgray;
        margin-bottom: 15px;
    }

    .plots,
    .residents,
    .comm {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        height: auto;
        border: 1px solid darkgreen;
        border-left: 0;
        border-radius: 5px;
        box-shadow: 0 0 10px 10px lightgreen;
        margin-bottom: 30px;
    }

    .plots>h3,
    .residents>h3,
    .comm>h3 {
        margin: 0;
        margin-left: 10px;
        margin-bottom: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: lightgray;
    }

    .residents {
        margin-left: 10vw;
        border-right: 0;
        border: 1px solid darkblue;
        box-shadow: 0 0 10px 10px lightblue;
    }

    .comm {
        border: 1px solid darkmagenta;
        box-shadow: 0 0 10px 10px magenta;

    }
}
